<section>

    
    <form [formGroup]="profileForm" (ngSubmit)="submiting()">
    <h3></h3>
    <p>  Name </p>
    <input name="Name"  formControlName="name"   type="text">
    
    
    <p> age </p>
    <input name="age" formControlName="age" type="number">
    
    
    
    
    <p>  E-mail </p>
    <input name="email" formControlName="mail" type="text">
    
    
    <h2>Address</h2>
    
    <aside formGroupName="address">
        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street">
        
        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city">
        
        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state">
        
        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zip">
    </aside>
    
    <article [hidden]=" profileForm.valid" > data is uncorect</article>
    <button type="submit" [disabled]="!profileForm.valid"> submit </button>
    
    
</form>

</section>